@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

.striked {
  text-decoration: line-through;
  color: #bebebe;
  font-weight: 400 !important;
  box-shadow: 0px 2px 5px #91919177;
}

html {
  background: radial-gradient(#5bc4f6, #3b87ed);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}
input {
  position: absolute;
  top: 40px;
  left: -7%;
  text-align: center;
  /* line-height: 20; */
  height: 100px;
  width: 110%;
  border: 1px solid #11738b28;
  font-size: 30px;
  color: #ffffff;
  padding: 0px 10px;
  border-radius: 20px;
  box-shadow: 0px 20px 20px #0b84d494;
  margin-bottom: 30px;
  transition: all 0.3s linear;
  background: #0b84d4b4;
}
input:focus {
  box-shadow: 0px 3px 10px #0b84d494;
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.767);
}
.todoList {
  height: 60vh;
  width: 350px;
  border-radius: 40px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 35px #11738bcb;
  padding: 20px;
  background: #fff;
  text-align: center;
}

#addButton {
  position: absolute;
  left: 20%;
  color: #007451;
  background: #46d990;
  border: 1px solid #46d994;
  box-shadow: 0px 10px 15px #46d994b9;
}
#addButton:active {
  box-shadow: 0px 5px 15px #46d994b9;
  background: #48dd92;
}

.actionButtons {
  bottom: -35px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  font-size: 60px;
  transition: all 0.1s linear;
}

#deleteButton {
  position: absolute;
  right: 20%;
  color: #3f0d00;
  background: #b61b00;
  border: 1px solid #b61b00;
  box-shadow: 0px 10px 15px #b61b00a1;
}
#deleteButton:active {
  box-shadow: 0px 5px 5px #b61b00a1;
  background: #ca1e00;
}

.heading {
  font-weight: 300 !important;
  color: #4d4d4d;
  font-size: 25px;
}

ul {
  margin-top: 150px;
  padding: 0;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0px 10px;
}

li {
  text-align: left;
  padding: 5px 25px;
  margin: 10px 0px;
  list-style: none;
  height: 40px;
  border: 0.5px solid #eaeaea;
  font-size: 20px;
  color: #272727;
  border-radius: 25px;
  line-height: 40px;
  box-shadow: 0px 5px 15px #91919177;
  transition: all 0.3s linear;
}

@media screen and (max-width: 500px) {
  .todoList {
    width: 250px;
  }
  input {
    height: 70px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  ul {
    margin-top: 120px !important;
  }
  .actionButtons {
    bottom: -30px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 50px;
  }
}
